<a href="https://colab.research.google.com/github/01DaisyLynn/WEEK-4-IP-PROJECT/blob/main/Moringa_Data_Science_Prep_WK4_Independent_Project_2021_11_Daisy_Lynn_Wanjiru_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ELETRIC CAR SHARING SERVICE

Importing libraries

In [ ]:
#Importing the pandas library
import pandas as pd 

# Importing the numpy library
import numpy as np

Reviewing the dataset

In [ ]:
dataset_df = pd.read_csv("Autolib_dataset.csv", encoding='utf-8', delimiter=',')
dataset_df.head(20)

                               Address  Cars  ...  hour  minute
0                  2 Avenue de Suffren     0  ...    11      43
1            145 Rue Raymond Losserand     6  ...     7      24
2     2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3               51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4   6 avenue de la Porte de Champerret     3  ...    17      23
5                 8 Boulevard Voltaire     0  ...     7       2
6                       37 rue Leblanc     0  ...    18      20
7          17 Rue des Luaps ProlongÃ©e     3  ...    22      13
8                34 avenue Jean Moulin     1  ...    22      58
9         41 boulevard de Rochechouart     6  ...    15       2
10                      14 rue Censier     0  ...     4      39
11        12 Rue Francis de PressensÃ©     1  ...     9      20
12  6 avenue de la Porte de Champerret     5  ...    12      22
13               34 avenue Jean Moulin     0  ...    21      54
14          8 Boulevard Richard Lenoir     0  ...     8       0
15                  3 rue Jean JaurÃ¨s     0  ...     0      21
16       2 avenue du GÃ©nÃ©ral Leclerc     0  ...    19       0
17              182 Boulevard Voltaire     6  ...    12      14
18               26 villa Croix-Nivert     5  ...    20      58
19                11 avenue RenÃ© Coty     4  ...    21      31

[20 rows x 25 columns]

DATA UNDERSTANDING

In [ ]:
#Getting columns in the dataset
dataset_df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [ ]:
#getting info about our set
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
#get the null values
dataset_df.isnull().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Displayed comment       True
ID                     False
Kind                   False
Geo point              False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [ ]:
#describing the data set
dataset_df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [ ]:
#getting the unique values from each of our columns
dataset_df.nunique()

Address                1104
Cars                      8
Bluecar counter           8
Utilib counter            3
Utilib 1.4 counter        4
Charge Slots              3
Charging Status           3
City                     88
Displayed comment        25
ID                     1105
Kind                      4
Geo point              1105
Postal code             107
Public name            1105
Rental status             4
Scheduled at              8
Slots                     8
Station type              3
Status                    3
Subscription status       3
year                      1
month                     1
day                       9
hour                     24
minute                   60
dtype: int64

In [ ]:
#finding if any of our data has been duplicated
dataset_df.duplicated(keep=False)               #False is used so that only the duplicated values will be displayed

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [ ]:
#finding no. of rows and columns in dataset
dataset_df.shape

(5000, 25)

**DATA CLEANING**

*This done by following the data integrity rules i.e Validity, Accuracy, Completeness, Consistency, Uniformity*

Validity

In [ ]:
#dropping/deleting
#we will drop the cars column since it contains data similar to Bluecar counter
dataset_df.drop(["Cars"], axis = 1, inplace = True) 
dataset_df.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 24 columns]

In [ ]:
#combining year	month	day	to form one column
dataset_df['Date'] = dataset_df[['year', 'month', 'day']].astype(str).agg('-'.join, axis=1)
dataset_df.head(2)

                     Address  Bluecar counter  ...  minute      Date
0        2 Avenue de Suffren                0  ...      43  2018-4-8
1  145 Rue Raymond Losserand                6  ...      24  2018-4-6

[2 rows x 25 columns]

In [ ]:
#combining hour	minute to form one column
dataset_df['Time'] = dataset_df[['hour', 'minute']].astype(str).agg(':'.join, axis=1)
dataset_df.head(2)

                     Address  Bluecar counter  ...      Date   Time
0        2 Avenue de Suffren                0  ...  2018-4-8  11:43
1  145 Rue Raymond Losserand                6  ...  2018-4-6   7:24

[2 rows x 26 columns]

Completeness

In [ ]:
#finding the sum of missing values in each column
dataset_df.isnull().sum()

Address                   0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
Date                      0
Time                      0
dtype: int64

In [ ]:
#using 0 to replace the missing values
#this particular method was used so that it won't intefere with the data/analysis
dataset_df['Scheduled at'].fillna(0, inplace=True)
dataset_df['Displayed comment'].fillna(0, inplace=True)

dataset_df.head(3)

                            Address  Bluecar counter  ...      Date   Time
0               2 Avenue de Suffren                0  ...  2018-4-8  11:43
1         145 Rue Raymond Losserand                6  ...  2018-4-6   7:24
2  2 Avenue John Fitzgerald Kennedy                3  ...  2018-4-3  20:14

[3 rows x 26 columns]

Consistency

In [ ]:
#dropping duplicated data incase of any
dataset_df.drop_duplicates().tail()

                          Address  Bluecar counter  ...      Date   Time
4995          8 avenue MÃ©nelotte                2  ...  2018-4-6  11:26
4996            37 rue de Dantzig                4  ...  2018-4-4  16:56
4997               142 rue du Bac                1  ...  2018-4-1    7:1
4998  2 avenue du Val de Fontenay                2  ...  2018-4-4  17:27
4999          5 Rue Henry Brisson                4  ...  2018-4-8   10:2

[5 rows x 26 columns]

Uniformity

In [ ]:
df=dataset_df.rename(columns={'Bluecar counter':'Bluecar'})
df.head(2)

                     Address  Bluecar  Utilib counter  ...  minute      Date   Time
0        2 Avenue de Suffren        0               0  ...      43  2018-4-8  11:43
1  145 Rue Raymond Losserand        6               0  ...      24  2018-4-6   7:24

[2 rows x 26 columns]

DATA ANALYSIS

In [ ]:
#popular hour
dataset_df['hour']. value_counts(). idxmax()   #2100hours

21

In [ ]:
#popular hr in Paris
dataset_df[(dataset_df.City == 'Paris')].groupby('hour')['hour'].count().sort_values(ascending=False).head(3)

hour
21    147
8     128
16    128
Name: hour, dtype: int64

In [ ]:
#most popular hour for returning bluecar
#first find highest number
dataset_df['Bluecar']. value_counts(). idxmax() 

#then find most popular hour
#dataset_df[(dataset_df.Bluecar == )].groupby('hour')['hour'].count().sort_values(ascending=False).head(3)

In [ ]:
#most popular station overrall
dataset_df[(dataset_df.Kind =='STATION') & (dataset_df.Status=='ok')].groupby('Public name')['Kind'].count().sort_values(ascending=False).head(2)

Public name
Paris/Porte de Montrouge/8    13
Paris/Courcelles/69           11
Name: Kind, dtype: int64

In [ ]:
#most popular station at most popular picking hr
dataset_df[(dataset_df.Kind =='STATION') & (dataset_df.hour==21)].groupby('Public name')['Kind'].count().sort_values(ascending=False).head(2)

Public name
Paris/Tronchet/19     4
Paris/Voltaire/182    3
Name: Kind, dtype: int64

In [ ]:
#What postal code is the most popular for picking up Blue cars?

In [ ]:
#Does the most popular station belong to that postal code Overall?
#postal code of mostpopular station

dataset_df[dataset_df.Public name == 'Paris/Tronchet/19'][['Public name', 'Postal code']]head(1)

In [ ]:
#Does the most popular station belong to that postal code? At the most popular picking hour?